@model FirstMvcApp.Models.Person
@using FirstMvcApp
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewBag.Title = @Localizer["Attendant Details"];
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/user_placeholder.png" alt="user photo">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p>@Model.DateOfBirth</p>
    </div>
</div>
